body {
	background-color: #BED661;
}
	
.title1 {
	background-color: green;
	font-size: 26px;
	font: Palatino,serif;
	color: black;
	text-align: center;
	
}


.title2 {
	background-color: lightblue;
	font-size: 22px;
	font: Palatino,serif;
	color: black;
	text-align: center;
}



a {
	text-decoration: underline;
	color: #000000;
	font-size: 14px;
	display: inline;
	padding: 1px;
} 

ul, li	{
	list-style: square;
	font: Palatino,serif;
	color: black;
	font-size: 14px;
	text-align: justify;
}







